@charset "utf-8";
/*
	styles for select
*/
.cuselMultipleContent,
.cuselMultipleTop,
.cuselMultipleBottom,
.cuselMultiple .jScrollPaneDrag,
.cuselMultiple .jScrollArrowUp,
.cuselMultiple .jScrollArrowDown {
	background-image: url(../images/selects-multiple.png); /* специальная картинка отрисованная по нужным разерам для multiple */
}
.cuselMultiple { /* общий вид селекта */
	width: 200px; /* ширина по дизайну */
	display: inline-block;
	font-size: 14px;
	position: relative;
}
.cuselMultipleContent {
	background-position: -200px 0;
	background-repeat: repeat-y;
	overflow: hidden;
	padding: 4px 1px;
}
.cuselMultipleTop {
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}
.cuselMultipleBottom {
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-position: 0 -5px;
	z-index: 2;
	overflow: hidden;
}
.cuselMultiple span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
	overflow: hidden;
}
.cuselMultiple span:hover,
.cuselMultiple .cuselMultipleOptHover { /* реакция оптиона на наведение */
	background: #003399;
	color: #fff;
}
.cuselMultiple .cuselMultipleActive { /* оформление активного оптиона в списке */
	background: #CC0000;
	color: #fff;
}
.cuselMultiple .cuselMultipleCur { /* оформление текущей позиции в спиcке */
	border: 1px dotted #000;
	padding: 1px 14px 1px 4px;
}

/*
	styles for focus and hover
*/
.cuselMultiple:hover .cuselMultipleContent,
.cuselMultiple:focus .cuselMultipleContent,
.cuselMultiple:hover .cuselMultipleTop,
.cuselMultiple:focus .cuselMultipleTop,
.cuselMultiple:hover .cuselMultipleBottom,
.cuselMultiple:focus .cuselMultipleBottom {
	background-image: url(../images/selects-multiple-focus.png);
}


/*
	styles for scrollbar
*/
.cuselMultiple-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	overflow: hidden;
}
.cuselMultiple .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
}

.cuselMultiple .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 5px;
}
.cuselMultiple .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -9px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;

}

.cuselMultiple .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cuselMultiple .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cuselMultiple .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -12px;
	overflow: hidden;
}
.cuselMultiple .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -12px;
	overflow: hidden;
}

/*
	styles for disabled select
*/
.cuselMultiple.classDisCusel,
.cuselMultiple.classDisCusel span {
	cursor: default;
	color: #ccc !important;
}
.cuselMultiple.classDisCusel .cuselMultipleContent,
.cuselMultiple.classDisCusel .cuselMultipleTop,
.cuselMultiple.classDisCusel .cuselMultipleBottom,
.cuselMultiple.classDisCusel .jScrollArrowUp,
.cuselMultiple.classDisCusel .jScrollArrowDown,
.cuselMultiple.classDisCusel .jScrollPaneDrag {
	background-image: url(../images/selects-multiple-dis.png) !important;
	cursor: default;
}
.cuselMultiple.classDisCusel span:hover {
	background: #fff;
}
.cuselMultiple.classDisCusel .cuselMultipleActive {
	background: #666 !important;
}

/*
	styles for ie7
*/
*:first-child+html .cuselMultiple,
*:first-child+html label {
	float: left;
	zoom: 1;
	height: auto;
}
*:first-child+html .lineForm {
	clear: both;
}
*:first-child+html .cuselMultipleContent {
	float: left;
	width: 100%;
}