@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: #e1f0f7;
}
.cusel { /* общий вид селекта включая стрелку справа */
	height: 19px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	padding-right:20px;
	z-index: 1;
	background: #e1f0f7;
	border:1px solid #cecaca;
	outline: none;
	padding-bottom:0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(PIE.htc);
}
.sorting .cusel{ height:22px; font-size:12px;}
.cusel div{ padding-bottom:0;}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 22px;
	background: url(../images/bg/cusel-arr.png) no-repeat right center;
}
.cusel:hover .cuselFrameRight{ background-position: center;}
.cusel.cuselOpen .cuselFrameRight{ background-position: center;}

.cuselText { /* контейнер для отображенного текста селект */
	height: 19px;
	 padding:3px 5px 0 5px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	 color:#333333;
	 font-size:12px;
	 font-family: Arial, Helvetica, sans-serif;
	z-index: 1;
	font-size: 14px; /* шрифты */
	position: absolute;
	top: 0;
	left: 0;
}
.sorting .cuselText{ font-size:12px;}
* html .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
}
.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
	text-align:left;
	border-radius:5px;
	margin-bottom:1px!important;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #e1f0f7;
	color: #656363;
	cursor: pointer;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #e1f0f7;
	color: #656363;
	cursor: default;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
}

.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(../images/selects-2-dis.png) !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: -1px;
	top: 100%;
	background: #c1e0f0; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
	border-radius:5px;
	padding:5px 0;
	border: 1px solid #cecaca; /* границы выпадающего спиcка */
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}